<!DOCTYPE html>
<html>
<head>
  <title>Student List</title>
</head>
<body>
  <h1>Student List</h1>
  <a href="/students/add">Add New Student</a>
  <ul>
    <% students.forEach(student => { %>
      <li>
        <%= student.name %> - <%= student.age %> - <%= student.grade %>
        <a href="/students/edit/<%= student._id %>">Edit</a>
        <a href="/students/delete/<%= student._id %>" onclick="return confirm('Are you sure?')">Delete</a>
      </li>
    <% }) %>
  </ul>
  <a href="/">Home</a>
</body>
</html>
